<div class="row">
  <div class="col-xs-1 col-sm-3">
    <div class="well bs-sidebar affix" id="sidebar">
      <ul class="nav nav-pills nav-stacked">
      	<li><a href="#"><%= currentUser.username %></a></li><br>
		<li><a class="brand" href="/">by<br><br><br>its<br><br><br>cov<br><br><br>er</a></li>
		<br>
		<li><a class="nav-icon" href="/about"><i class="fa fa-4x fa-info-circle" aria-hidden="true"></i></a></li>
		<br>
		<li><a class="nav-icon" href="/rec"><i class="fa fa-4x fa-book" aria-hidden="true"></i></a></li>
		<br>
		<li><a class="nav-icon" href="/my-list"><i class="fa fa-4x fa-list" aria-hidden="true"></i></a></li> 
		<br>
		<li><a class="nav-icon" href="/logout"><i class="fa fa-4x fa-sign-out" aria-hidden="true"></i></a></li>
		<br>
      </ul>
    </div> <!--well bs-sidebar affix-->
  </div> <!--col-sm-3-->


