<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<h1>Recommendation</h1>
		<div class="col-md-2">
			<i class="fa fa-5x fa-arrow-circle-o-left" aria-hidden="true"></i>
		</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="cover-frame">
					<img src="<%= book.image %>">
				</div>
			</div>
		<div class="col-md-2 col-md-offset-1">
			<i class="fa fa-5x fa-arrow-circle-o-right" aria-hidden="true"></i>
		</div>
	</div>
</div>

<!-- image space for population of book covers
left arrow to retrieve a new book cover image
right arrow to retrieve deets for selected book cover image -->