<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<h1>Recommendation</h1>
		<div class="col-md-6 col-md-offset-3">
			<div class="cover-frame">
				<img src="<%= image %>">
			</div>
		</div>
	</div>
</div>

<!-- image space for population of book covers
left arrow to retrieve a new book cover image
right arrow to retrieve deets for selected book cover image -->