<div class="container-fluid">
	<!-- <div class="col-md-8 col-md-offset-2"> -->
		<!-- <h1>Recommendation</h1> -->
		<div class="col-md-2 col-md-offset-1">
			<a class="dismiss-book left" href="#"><i class="fa fa-5x fa-arrow-circle-o-left" aria-hidden="true"></i></a>
		</div>
			<div class="col-md-5">
				<div class="cover-frame">
					<h2 class="book-title"><%= book[0].title %></h2>
					<img class="book-cover" src="<%= book[0].image %>">	
				</div>
			</div>
		<div class="col-md-2 col-md-offset-1">
			<a class="show-details" href="#"><i class="fa fa-5x fa-arrow-circle-o-right" aria-hidden="true"></i></a>
		</div>
	<!-- </div> -->
</div>

<!-- image space for population of book covers
left arrow to retrieve a new book cover image
right arrow to retrieve deets for selected book cover image -->

<script>
var books = <%- JSON.stringify(book) %>;
var current = 0;

window.onload = function(){
	console.log("ready", $)	

	$('.dismiss-book').on('click', dismiss)
	$('.show-details').on('click', details)

	function dismiss() {
		current++;
		$('.book-title').text(books[current].title)
		$('.book-cover').attr("src", books[current].image)
	}

	function details(current) {
		$('.book-cover').removeAttr('src');
		console.log('details');
	}

	function displayBook(i) {
	  
	}
}
</script>