body {
	background-color: #b2e5e5;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	display: block;
	text-align: center;
}

.cover-frame {
	max-height: 462px;
	width: 500px;
	text-align: center;
}

.details {
	max-height: 462px;
	width: 500px;
	border: 1px solid black;
	display: none;
}

.book-cover {
	max-height: 462px;
	max-width: 400px;
}

.brand {
	font-size: 50px;
	color: #86becb;
	margin-top: 20px;
}

.nav-icon {
	/*margin-top: 25px;*/
}

#sidebar {
	background-color: #1aa3a3;
}

.landing {
	margin-top: 100px;
}

@media (min-width: 768px) {
  .bs-sidebar.affix {
    width: 158px;
    top: 25px;
  }
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
    width: 213px;
    position: fixed;
    top: 25px;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
    width: 263px;
  }
}

