body {
	background-color: #b2e5e5;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	float: left;
	width: 75%;
}

h4 {
	float: left;
	width: 75%;
}

ul {
	list-style-type: none;
}

li {
	display: block;
	text-align: center;
}

.cover-frame {
	max-height: 462px;
	width: 500px;
	text-align: center;
	margin-top: 50px;
}

.details {
	max-height: 500px;
	width: 500px;
	border: 1px solid #1aa3a3;
	display: none;
}

.book-cover {
	max-height: 500px;
	max-width: 400px;
}

.brand {
	font-size: 50px;
	color: #86becb;
	margin-top: 20px;
}

.nav-icon {
	/*margin-top: 25px;*/
}

#sidebar {
	background-color: #1aa3a3;
}

.landing {
	margin-top: 100px;
}



/*//////my-list.ejs//////*/

.fav-list {
	/*max-height: 200px;*/
	/*background-image: #0b5e56;*/
}

.thumbnail {
/*	width: 150px;*/
	height: 150px;
	float: left;
	margin-right: 20px;
	/*float: left;*/
}

.delete-btn {
	float: right;
	/*display: block;*/
	/*position: absolute;*/
}


/*//////media-queries//////*/

@media (min-width: 768px) {
  .bs-sidebar.affix {
    width: 158px;
    top: 25px;
  }
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
    width: 213px;
    position: fixed;
    top: 25px;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
    width: 263px;
  }
}

