

.navbar {
	height: 100px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

.cover-frame {
	max-height: 462px;
	width: 500px;
	text-align: center;
}

.details {
	max-height: 462px;
	width: 500px;
	border: 1px solid black;
	display: none;
}

.book-cover {
	max-height: 462px;
	max-width: 400px;
}

